{% extends "layout.html" %}

{% block content %}
<h1>Creative Commons Lisencing</h1>
<ul>
  <li>Arrow by 4B Icons from the Noun Project</li>
  <li>Social media story by Bence Bezeredy from the Noun Project</li>
  <li>pull request by Richard Slater from the Noun Project</li>
  <li>Heart by vanila from the Noun Project</li>
  <li>pattern by Path Lord from the Noun Project</li>
  <li>done by Fevzi.Co from the Noun Project</li>
  <li>Email by Creative Stall from the Noun Project</li>
  <li>instagram by Saloni Sinha from the Noun Project</li>
  <li>books by b a r z i n from the Noun Project</li>
  <li>Boat by Danil Polshin from the Noun Project</li>
</ul>
<p>Here's how you should attribute:
Use the embedded attribution only if the icon is larger than 100px.
- OR -
Copy the attribution text below and include it in a bibliography or image caption.</p>

{% endblock content %}
