Flask==1.1.2
Flask-Bcrypt==0.7.1
flask-googlemaps==0.4.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
idna==2.9
Jinja2==2.11.2
MarkupSafe==1.1.1
Pillow==7.1.1
SQLAlchemy==1.3.16
tornado==6.0.4
WTForms==2.3.1
