appdirs==1.4.3
apturl==0.5.2
asn1crypto==0.24.0
attrs==19.3.0
backcall==0.1.0
bcrypt==3.1.7
bleach==3.1.4
blinker==1.4
Brlapi==0.6.6
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
command-not-found==0.3
cryptography==2.1.4
cupshelpers==1.0
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
distlib==0.3.0
distro-info===0.18ubuntu0.18.04.1
docopt==0.6.2
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
Flask-Bcrypt==0.7.1
flask-googlemaps==0.4.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
httplib2==0.9.2
idna==2.9
importlib-metadata==1.6.0
importlib-resources==1.4.0
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
json5==0.9.4
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
jupyterlab==2.1.0
jupyterlab-server==1.1.1
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
louis==3.5.0
macaroonbakery==1.1.3
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.5
netifaces==0.10.4
notebook==6.0.3
oauth==1.0.1
olefile==0.45.1
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.0.0
protonvpn-cli==2.2.2
ptyprocess==0.6.0
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
Pygments==2.6.1
pygobject==3.26.1
pymacaroons==0.13.0
PyNaCl==1.1.2
pyRFC3339==1.0
pyrsistent==0.16.0
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.1
python-debian==0.1.32
pythondialog==3.5.1
pytz==2018.3
pyxdg==0.25
PyYAML==3.12
pyzmq==19.0.0
reportlab==3.4.0
requests==2.23.0
requests-unixsocket==0.1.5
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
Send2Trash==1.5.0
simplejson==3.13.2
six==1.14.0
SQLAlchemy==1.3.16
system-service==0.3
systemd-python==234
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==4.3.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.9
usb-creator==0.3.3
virtualenv==20.0.18
wadllib==1.3.2
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
WTForms==2.3.1
xkit==0.0.0
zipp==3.1.0
zope.interface==4.3.2
